 /* .student {
  background-color: aqua;
  list-style-type: none; 
  margin-right:50em;
 padding-left: 8em;
 padding-top: 0.5em;
 padding-bottom: 0.2em;
  border-style: bold;
 border-color:black;
}  */