body {
  display:inline-flex;
  margin: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 20px;
    color:#00007D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.box {
 display: inline-flex; 
 width: 15em;
}
.header__button {
  background-color: #00007D;
  color:#ffffffff;
  margin-left: 2em;
}
.header__ListOfStudents-link{
  color:#ffffffff;
}
.header__ListOfStudents-button {
  width: 5em;
  background-color:#4c5eff;
  color:#ffffffff;
}
.bar{
  margin-right:25em;
}
.footer{
  background-color:#00007D; 
  color: #ffffffff;
  border: dashed;
  margin-left:4em;
  padding:0.5em;
 }
@media (min-width: 768px) {
  .body {
        height:100%;
     }
}
@media (min-width: 1024px) {
  .body{
        height:100%;
     }       
}
@media (min-width: 1440px) {
  .body {
        height:100%;
      }
}     
@media (min-width: 1800px) {
  .body {
         height:100%;
      }
}